apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: grafana
spec:
  trigger:
    # schedule: "0 4 * * *"
    manual: grafana-2
  restic:
    repository: restic-grafana
    destinationPVC: grafana
    copyMethod: Snapshot
    moverResources:
      requests:
        cpu: 1
        memory: 300Mi
      limits:
        memory: 4Gi
    cacheCapacity: 10Gi
    cacheAccessModes:
      - ReadWriteOnce
    customCA:
      secretName: homelab-bundle
      key: ca.crt
