apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-prometheus-kube-prometheus-stack-prometheus-0
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 200Gi
  storageClassName: rook-ceph
