apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: external-node
spec:
  scrapeInterval: 1m
  staticConfigs:
    - labels:
        job: node-exporter
      targets:
        # - 10.0.0.10:31910  # management host temporarily disabled
        - 10.0.0.11:9100
        - 10.0.0.50:9100
        - 10.0.0.100:9100
        - 10.1.0.30:9100
        - 10.1.0.40:9100
        - 10.1.0.100:9100